@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import './reset';

html {
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  color: red;
}

body {
  background-color: rgb(30, 30, 30);
}
